@media (max-width: 667px) {
    .home-page section h1 {
        margin-left: 14px;
    }

    .home-page section {
        padding-left: 0px;
    }

    .home-page section> :nth-child(2) {
        padding: 12px 0px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 668px) and (max-width: 1024px) {

    .home-page section {
        margin-left: 10px;
    }

    .home-page section> :nth-child(2) {
        margin-left: 24px;
        padding: 0;
    }
}