@media (max-width: 667px) {
    .left-panel {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        min-width: 100vw;
        height: auto;
        max-height: none;
        padding: 12px 20px calc(12px + env(safe-area-inset-bottom));
        transform: none;
        background: #FF385C;
        border: 2px solid #FF385C;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 0px;
    }
}